.section-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 100%;
    cursor: pointer;
    border: 1px solid gainsboro;
}

.section-bg-color:nth-child(odd){
    background-color: whitesmoke;
}

.section-bg-color:nth-child(even){
    background-color: white;
}