body {
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* padding: 0 3vh 5vh 3vh; */
    background-color: #fff;
}

.animation {
    animation-name: anime;
    animation-duration: 2s;
}

.no-default {
    padding: 0;
}

.hide {
    display: none;

}

.white {
    background-color: white;
}

.whitesmoke {
    background-color: whitesmoke;
}

.center {
    text-align: center;
}

@keyframes anime {
    0%   {opacity: 0%;}
    25%  {background-color: 25%;}
    50%  {background-color: 50%;}
    100% {background-color: 100%;}
}