.navbar-wrapper {
    padding: 0 3vw;
    box-shadow: inset 0 -1px 4px rgba(0,0,0,0.2);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    padding: 2vh 0;
}

.website-logo {
    height: 6vh;
    width: auto;
    cursor: pointer;
}

.start-membership-btn {
    margin-left: auto;
    margin-right: 3vw; 
    height: 75%s;
    color: white;
    font-weight: bold;
    font-size: 2vh;
    padding: 2vh;
    border-radius: 1vh;
    background-color: #2CAEBF;
    border: none;
    box-shadow: 0 2px 0 rgb(0 0 0 / 0.2);
    display: none;
    cursor: pointer;
}

.nav-btn {
    background-color: transparent;
    border: none;
}

.nav-icon {
    height: 5vh;
    width: auto;
}

.mobile-nav-links {
    height: 100vh;
    width: auto;

}

.mobile-nav-links > nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.mobile-nav-links > nav > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    border: 1px solid gainsboro;
}

.mobile-nav-links > nav > a:nth-child(odd) {
    background-color: white;
}

.mobile-nav-links > nav > a:nth-child(even) {
    background-color: white;
}

@media only screen and (min-width: 430px) {
    .start-membership-btn {
        display: flex;
    }
}